<div class="mt-5">
  <form #loginForm="ngForm" name="form" class="container col-md-4 shadow" (ngSubmit)="login()">
    <div class="form-group p-2">
      <label for="email">Email<span class="text-danger">*</span></label>
      <input id="email" type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="loginModel.Email"
        required />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger error-message">
        <div *ngIf="email.errors?.['required']">Email is required</div>
      </div>
    </div>
    <div class="form-group p-2">
      <label for="password">Password<span class="text-danger">*</span></label>
      <input id="password" type="password" name="password" #password="ngModel" class="form-control"
        [(ngModel)]="loginModel.Password" required />
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger error-message">
        <div *ngIf="password.errors?.['required']">Password is required</div>
      </div>
    </div>
    <div class="form-group p-2">
      <button class="form-control btn btn-primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
    <div *ngIf="error" class="text-center text-danger">{{ error }}</div>
    <div class="form-group p-2">
      <p class="text-center">
        Don't have an account?
        <a class="text-decoration-none" routerLink="/register">Register Now</a>
      </p>
    </div>
  </form>
</div>