<nav class="bg-primary text-white d-flex justify-content-between p-2 px-3"
  style="background: linear-gradient(45deg, green,red);">
  <!-- left side -->
  <div class="d-flex justify-content-between align-items-center">
    <a routerLink="/" class="text-white text-decoration-none btn">Farm-Connect</a>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    @if ((isLoggedIn$ | async)) {
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn border-white text-white btn">{{(name$ | async)}} / {{(role$ | async)}}</div>
        <a routerLink="/" class="text-white text-decoration-none btn">Home</a>
      </div>
    }

    <!-- logged in with admin -->
    @if ((isLoggedIn$ | async) && (isAdmin$ | async)) {
      <div class="d-flex justify-content-between align-items-center">
        <app-adminnav></app-adminnav>
      </div>
    }
    <!-- logged in with user -->
    @if ((isLoggedIn$ | async) && (isUser$ | async)) {
      <div class="d-flex justify-content-between align-items-center">
        <app-usernav></app-usernav>
      </div>
    }
    <!-- logout/login -->
    @if ((isLoggedIn$ | async)) {
      <div class="d-flex justify-content-between align-items-center">
        <button (click)="logout()" class="text-white text-decoration-none btn">Logout</button>
      </div>
    }
    @if (!(isLoggedIn$ | async)) {
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/register" class="text-white text-decoration-none btn px-3">Register</a>
        <a routerLink="/login" class="text-white text-decoration-none btn">Login</a>
      </div>
    }
  </div>
</nav>
