<div class="col-md-4 container shadow my-3 p-3">
    <h1 class="text-center">Create New Medicine</h1>
    <hr class="text-center my-3" />

    <form class="position-relative" [class.blur]="isModalOpen" (ngSubmit)="addMedicine()">
        <div class="form-group">
            <label><b>Medicine Name<span class="text-danger">*</span></b></label><br>
            <input name="MedicineName" placeholder="Medicine Name" id="MedicineName"
                [(ngModel)]="newMedicine.MedicineName" required class="form-control" #medicineNameInput>

            <div *ngIf="isFieldInvalid('MedicineName')" class="error-message" class="text-danger">Medicine Name is
                required
            </div>
        </div>

        <div class="form-group">
            <label><b>Brand<span class="text-danger">*</span></b></label><br>
            <input name="Brand" placeholder="Brand" id="Brand" [(ngModel)]="newMedicine.Brand" required
                class="form-control">
            <div *ngIf="isFieldInvalid('Brand')" placeholder="Demo Brand" class="error-message" class="text-danger">
                Brand is
                required</div>
        </div>
        <div class="form-group">
            <label><b>Category<span class="text-danger">*</span></b></label><br>
            <input name="Category" placeholder="Category" id="Category" [(ngModel)]="newMedicine.Category" required
                class="form-control">
            <div *ngIf="isFieldInvalid('Category')" class="error-message" class="text-danger">Category is required</div>
        </div>
        <div class="form-group">
            <label><b>Description<span class="text-danger">*</span></b></label><br>
            <input name="Description" placeholder="Description" id="Description" [(ngModel)]="newMedicine.Description"
                required class="form-control">
            <div *ngIf="isFieldInvalid('Description')" class="error-message" class="text-danger">Description is required
            </div>
        </div>
        <div class="form-group">
            <label><b>Quantity<span class="text-danger">*</span></b></label><br>
            <input name="Quantity" placeholder="Quantity" id="Quantity" [(ngModel)]="newMedicine.Quantity" required
                class="form-control">
            <div *ngIf="isFieldInvalid('Quantity')" class="error-message" class="text-danger">Quantity is required</div>
        </div>

        <div class="form-group">
            <label><b>Unit<span class="text-danger">*</span></b></label><br>
            <input name="Unit" placeholder="Unit" id="Unit" [(ngModel)]="newMedicine.Unit" required
                class="form-control">
            <div *ngIf="isFieldInvalid('Unit')" class="error-message" class="text-danger">Unit is required</div>
        </div>

        <div class="form-group">
            <label><b>Price Per Unit<span class="text-danger">*</span></b></label><br>
            <input name="PricePerUnit" placeholder="Price per unit" id="PricePerUnit"
                [(ngModel)]="newMedicine.PricePerUnit" required class="form-control">
            <div *ngIf="isFieldInvalid('PricePerUnit')" class="error-message" class="text-danger">PricePerUnit is
                required
            </div>
        </div>

        <div class="form-group">
            <label><b>Image<span class="text-danger">*</span></b></label><br>
            <input name="Image" id="Image" (change)="handleFileInput($event)" type="file" required class="form-control">
            <div *ngIf="isFieldInvalid('Image')" class="error-message" class="text-danger">Image is required</div>
        </div>

        <div class="form-group">
            <br>
            <button type="submit" class="btn btn-primary form-control" [disabled]="!isFormValid()">Submit </button>
        </div>
<!-- 
        <div [hidden]="true" class="position-absolute top-50 start-50 translate-middle bg-opacity-50">
            OK
        </div> -->
    </form>
</div>

<!-- Success Modal -->
<div class="modal" tabindex="-1" role="dialog" id="successModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Successfully added!</p>
                <button type="button" class="btn btn-primary" (click)="closeModal()">OK</button>
            </div>
        </div>
    </div>
</div>