<div class="container">

    <h1 class="text-center">Feedback Details</h1>
    <hr color="blue" width="100%">
    <div *ngIf="!allFeedbacks;else elseblock">
        <p class="text-center">No Data Available</p>
    </div>
    <ng-template #elseblock>
        <table class="table table-striped table-bordered ">
            <thead text-center>
                <th class="bg-primary text-center">S.No</th>
                <th class="bg-primary text-center">User Name</th>
            <th class="bg-primary text-center">Feedback</th>
            <th class="bg-primary text-center">Posted Date</th>
            <th class="bg-primary text-center">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let a of allFeedbacks, let i =index" class="text-center">
                <td>{{i+1}}</td>
                <td>{{a.User.Username}}</td>
                <td>{{a.FeedbackText}}</td>
                <td>{{a.Date}}</td>
                <td><button data-bs-toggle="modal" data-bs-target="#showuser" class="btn btn-primary" (click)="details(a.User)">Show Profile</button></td>
            </tr>
        </tbody>
    </table>
</ng-template>
</div>


<div class="modal" tabindex="-1" role="dialog" id="showuser">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
            <div class="container">
                User Details<br>
                Email : {{user.Email}}<br>
                UserName : {{user.Username}}<br>
                Mobile Number : {{user.MobileNumber}}<br>
                Role : {{user.UserRole}}<br>
          </div>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>