<div class="d-flex">
  <div class="dropdown ">
    <button class="btn dropdown text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Medicine
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/createmedicine">Add Medicine</a></li>
      <li><a class="dropdown-item" href="/viewmedicine">View Medicine</a></li>
    </ul>
  </div>
  <div class="dropdown ">
    <button class="btn dropdown text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Feed
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/createfeed">Add Feed</a></li>
      <li><a class="dropdown-item" href="/viewfeed">View Feed</a></li>
    </ul>
  </div>
  <a routerLink="/supplierrequests" class="text-white text-decoration-none btn">Requests</a>
  <a routerLink="/adminviewfeedback" class="text-white text-decoration-none btn">Feedbacks</a>
</div>