<div class="d-flex">
    <div class="dropdown ">
      <button class="btn dropdown text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        LiveStock
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/createlivestock">Add LiveStock</a></li>
        <li><a class="dropdown-item" href="/viewlivestock">View LiveStock</a></li>
      </ul>
    </div>
    <a routerLink="/ownerviewmedicine" class="text-white text-decoration-none btn">Medicines</a>
    
    <a routerLink="/ownerviewfeed" class="text-white text-decoration-none btn">Feeds</a>
    
    <a routerLink="/ownerviewrequest" class="text-white text-decoration-none btn">My Requests</a>

    <!-- <a routerLink="/userviewfeedback" class="text-white text-decoration-none btn">Feedbacks</a> -->
    <div class="dropdown ">
      <button class="btn dropdown text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Feedback
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/useraddfeedback">Post Feedback</a></li>
        <li><a class="dropdown-item" href="/userviewfeedback">My Feedbacks</a></li>
      </ul>
    </div>
  </div>