<div class="col-md-4 container shadow my-3 p-3">
  <h1 class="text-center">Create New Livestock</h1>
  <hr class="text-center my-3" />
  <!-- <hr class="text-center" color="blue" width="100%" /> -->
  <form class="position-relative" [class.blur]="isModalOpen" (ngSubmit)="addLivestock()">
    <div class="form-group">
      <label>
        <b>Name:<span class="text-danger">*</span></b>
      </label>
      <br />
      <input name="Name" placeholder="Name" id="livestockName" #name="ngModel" [(ngModel)]="newLivestock.Name"
        required class="form-control" />
        @if (name.invalid && (name.dirty || name.touched)) {
          <div class="text-danger error-message">
            @if (name.errors?.['required']) {
              <div>Name is required</div>
            }
          </div>
        }
      </div>
      <!-- <div class="form-group"> <label><b>Category<span class="text-danger">*</span></b></label><br> <input name="Category" placeholder="Category" id="Category" [(ngModel)]="newMedicine.Category" required class="form-control"> <div *ngIf="isFieldInvalid('Category')" class="error-message" class="text-danger">Category is required</div> </div> -->
      <div class="form-group">
        <label>
          <b>Species:<span class="text-danger">*</span></b>
        </label>
        <br />
        <input name="Species" placeholder="Species" id="Species" #species="ngModel" class="form-control"
          [(ngModel)]="newLivestock.Species" required />
          @if (species.invalid && (species.dirty || species.touched)) {
            <div class="text-danger error-message">
              @if (species.errors?.['required']) {
                <div>Species is required</div>
              }
            </div>
          }
        </div>
        <div class="form-group">
          <label><b>Age:<span class="text-danger">*</span></b></label>
          <input name="Age" placeholder="Age" id="Age" class="form-control" #age="ngModel"
            [(ngModel)]="newLivestock.Age" required />
            @if (age.invalid && (age.dirty || age.touched)) {
              <div class="text-danger error-message">
                @if (age.errors?.['required']) {
                  <div>Age is required</div>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <label><b>Breed:<span class="text-danger">*</span></b></label><br />
            <input name="Breed" placeholder="Breed" id="Breed" #breed="ngModel" class="form-control"
              [(ngModel)]="newLivestock.Breed" required />
              @if (breed.invalid && (breed.dirty || breed.touched)) {
                <div class="text-danger error-message">
                  @if (breed.errors?.['required']) {
                    <div>Breed is required</div>
                  }
                </div>
              }
            </div>
            <div class="form-group">
              <label><b>Health Condition:<span class="text-danger">*</span></b></label>
              <input name="Health" placeholder="Health Condition" #hcdn="ngModel" id="Health" class="form-control"
                [(ngModel)]="newLivestock.HealthCondition" required />
                @if (hcdn.invalid && (hcdn.dirty || hcdn.touched)) {
                  <div class="text-danger error-message">
                    @if (hcdn.errors?.['required']) {
                      <div>Health condition is required</div>
                    }
                  </div>
                }
              </div>
              <div class="form-group">
                <label><b>Location:<span class="text-danger">*</span></b></label>
                <input name="location" placeholder="Location" #location="ngModel" id="location" class="form-control"
                  [(ngModel)]="newLivestock.Location" required />
                  @if (location.invalid && (location.dirty || location.touched)) {
                    <div class="text-danger error-message">
                      @if (location.errors?.['required']) {
                        <div>Location is required</div>
                      }
                    </div>
                  }
                </div>
                <div class="form-group">
                  <label><b>Vaccination Status:<span class="text-danger">*</span></b></label>
                  <select name="vaccine" placeholder="Vaccination Status" #vstat="ngModel" id="vaccine" class="form-control"
                    [(ngModel)]="newLivestock.VaccinationStatus" required>
                    <option value="" selected disabled>--Select Status--</option>
                    <option value="Pending">Pending</option>
                    <option value="Vaccinated">Vaccinated</option>
                  </select>
                  @if (vstat.invalid && (vstat.dirty || vstat.touched)) {
                    <div class="text-danger error-message">
                      @if (vstat.errors?.['required']) {
                        <div>Vaccination Status is required</div>
                      }
                    </div>
                  }
                </div>
                <div class="form-group">
                  <br />
                  <button type="submit" class="btn btn-primary form-control" [disabled]="!isFormValid()">
                    Submit
                  </button>
                  @if (msg!=null) {
                    <div class="text-center text-danger">{{msg}}</div>
                  }
                </div>
              </form>
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="successModal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <p>Successfully added!</p>
                    <button type="button" class="btn btn-primary" (click)="closeModal()">
                      OK
                    </button>
                  </div>
                </div>
              </div>
            </div>