<h1 class="text-center">Edit Feed</h1>
<hr class="text-center" color="blue" width="100%" />

<form class="col-md-4 container position-relative" (ngSubmit)="updateFeed()">
  <div class="form-group">
    <label for="Name">Feed Name</label>
    <input type="text" id="Name" [(ngModel)]="feed.FeedName" required class="form-control">
    @if (isFieldInvalid('FeedName')) {
    <div class="text-danger">Feed Name is required</div>
    }
  </div>

  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" id="type" class="form-control" [(ngModel)]="feed.Type" required>
    @if (isFieldInvalid('Type')) {
    <div class="text-danger">Type is required</div>
    }
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" [(ngModel)]="feed.Description" required></textarea>
    @if (isFieldInvalid('Description')) {
    <div class="text-danger">Description is required</div>
    }
  </div>

  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" class="form-control" [(ngModel)]="feed.Quantity" required>
    @if (isFieldInvalid('Quantity')) {
    <div class="text-danger">Quantity is required</div>
    }
  </div>

  <div class="form-group">
    <label for="unit">Unit</label>
    <input type="text" id="unit" class="form-control" [(ngModel)]="feed.Unit" required>
    @if (isFieldInvalid('Unit')) {
    <div class="text-danger">Unit is required</div>
    }
  </div>

  <div class="form-group">
    <label for="price">Price Per Unit</label>
    <input type="number" id="price" class="form-control" [(ngModel)]="feed.PricePerUnit" required>
    @if (isFieldInvalid('PricePerUnit')) {
    <div class="text-danger">Price is required</div>
    }
  </div>

  <div>
    <label><b>Image:<span class="text-danger">*</span></b></label>
    <input type="file" name="image" id="vaccine" class="form-control" (change)="handleFileInput($event)">
    @if (isFieldInvalid('Image')) {
    <div class="error-message" class="text-danger">Image is required</div>
    }

  </div>
  @if (!message) {
  <div>{{message}}</div>
  }
  <button type="submit" class="btn btn-primary form-control">Update Feed</button>

</form>