<div class="container">
  <div class="search-bar">
    <div class="search-bar">
      <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="filterRequests()">
    </div>
  </div>
  <h1 class="text-center">User Requests</h1>

  <table class="table table-striped table-bordered ">
    <thead text-center>
      <th class="bg-primary text-center"> S.No </th>
      <th class="bg-primary text-center"> Request Type </th>
      <th class="bg-primary text-center"> Medicine Name </th>
      <th class="bg-primary text-center"> Feed Name </th>
      <th class="bg-primary text-center"> Quantity </th>
      <th class="bg-primary text-center"> Submission Date </th>
      <th class="bg-primary text-center"> Status </th>
      <th class="bg-primary text-center"> Action </th>
    </thead>
    <tbody>
      @if (!requests) {
      <div>
        <p>Oops!No data found</p>
      </div>
      } @else {
      @for (r of requests; track r; let i = $index) {
      <tr class="text-center">
        <td>{{i+1}}</td>
        <td>{{r['RequestType']}}</td>
        <td>
          @if (r['Medicine']!=null) {
          <div>{{r['Medicine'].MedicineName}}</div>
          } @else {
          -
          }
        </td>
        <td>
          @if (r['Feed']!=null) {
          <div>{{r['Feed'].FeedName}}</div>
          } @else {
          -
          }
        </td>
        <td>{{r['Quantity']}}</td>
        <td>{{r['RequestDate']}}</td>
        <td>{{r['Status']}}</td>
        <td>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showlivestock"
            (click)="details(r['Livestock'])">showlivestock</button>
          @if (!(r['Status']=='Approved')) {
          <button class="btn btn-success mx-1" id="approve" (click)="approve(r['RequestId'])">Approve</button>
          }
          @if (!(r['Status']=='Rejected')) {
          <button class="btn btn-danger" id="reject" (click)="reject(r['RequestId'])">Reject</button>
          }
        </td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>

<!-- showlivestock popup -->
<div class="modal" tabindex="-1" role="dialog" id="showlivestock">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="container">
          Livestock Details<br>
          Name : {{selectedLivestock['Name']}}<br>
          Species : {{selectedLivestock['Species']}}<br>
          Age : {{selectedLivestock['Age']}}<br>
          Breed : {{selectedLivestock['Breed']}}<br>
          Health Status : {{selectedLivestock['HealthStatus']}}<br>
          Weight : {{selectedLivestock['Weight']}}<br>
          Owner ID : {{selectedLivestock['OwnerId']}}<br>
        </div>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>