<div class="container">
  <h1 class="text-center">Add Feedback</h1>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="feedbackText">Feedback</label>
      <textarea class="form-control" [(ngModel)]="feedback.FeedbackText" name="feedbackText" id="feedbackText" rows="3"
        required></textarea>
      @if (isFieldInvalid('FeedbackText')) {
      <div class="text-danger">Feedback is required</div>
      }
    </div>
    <button type="submit" class="btn btn-primary">Submit Feedback</button>
  </form>
</div>